<h1>Articles</h1>

<h3>Well you can use this platform, but MPR's website is certainly better. </h3>

{{!-- {{#article}}
  <h3>articles: </h3> {{Title}}
{{/article}} --}}


<ul id="unsaved">
  {{#each article}}
  {{#unless Saved}}
  <li>
    <a href = {{Link}}>Article name: {{Title}} \n</a>
    <p>{{Description}}{{Id}}</p>
    <button class="save" data-newSaved="{{Saved}}" data-idNumber="{{Id}}">
      {{#unless Saved}}Save article {{else}}Unsave article{{/unless}}
    </button>
  </li>
  {{/unless}}
  {{/each}}
</ul>


<ul id="saved">
  {{#each article}}
  {{#if Saved}}
  <li>
    <p>Article name: {{Title}}</p>
    <button class="save" data-id="{{id}}" data-newSaved="{{Saved}}">
      {{#unless Saved}}Save article {{else}}Unsave article{{/unless}}
    </button>
  </li>
  {{/if}}
  {{/each}}
</ul>

<button id = "scrape">
  scrape for new articles
</button>

<form action="/comment" method="POST">
  <h1>Please insert an article title to comment on</h1>
  <textarea type="text" name="burger" id="burger"></textarea>
  <button type="submit">Save</button>
</form>